* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

body {
    font-family: 'Quicksand', sans-serif;
    background-color: rgb(216, 215, 215);
  
}



.main {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    display: grid;
    
    grid-template-areas: 
    "main-text" "mySwiper"
    "footer" "footer";
}

@media (max-width: 960px) {
  .main {
    
    grid-template-areas: 
    "main-text" 
    "mySwiper"
    "footer";   
  }

  .main-text .class-animation {
    font-size: 85%;
  }

  .mySwiper {
    margin-top: 180px;
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
  }

  .footer .title-footer{
    margin-top: 150px;
    width: 400px;
  }

  .footer h2 {
    font-size: 35px;
  }

  .footer h4 {
    font-size: 25px;
  }
  
  .footer .buttons{
    margin: auto;
    margin-left: 1%;
    width: 90%;
    align-items: center;
  }

  .swiper .swiper-slide-active {
    transform: scale(1.3);
    transition: .7s;
}

  

}

.main-text {
    position: relative;
    left: 5%;
    margin-top: 5%;
    grid-area: "main-text";
    max-width: 200px;
    min-width: 200px;

    
  }
  
  
  .main-text h1 {
    font-size: 50px;
    left: 10%;
    width: 100%;
   
  }
  
  .sub {
    font-weight: 100;
    font-size: 20px; 
    padding: 2.5px;
  }
  
  .nome {
    border-right: 2px solid darkmagenta;
    color: darkmagenta;
    white-space: nowrap; /*não quebrar linha*/
    overflow: hidden; /*esconder*/
    width: 90%;
    max-width: 330px;
  }
  
  .class-animation {
    animation: blinkCursor 500ms steps(20) infinite normal, 
    typing 1.7s steps(20) 0.7s normal both;
  }
  
  
  @keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 7.3em;
  
    }
  }
  
  @keyframes blinkCursor {
    from {
        border-right-color: darkmagenta;
    }
    to {
        border-right-color: transparent;
    }
  }





.mySwiper {
    max-width: 700px;
    min-width: 350px;
    position: absolute;
    justify-content: center;
    align-items: center;
    left: 40%;
    right: 1%;
    top: 5%;
    height: 450px;
    grid-area: "mySwiper";
}

.swiper-wrapper {
    align-items: center;
}

.swiper-slide {
    background: white;
    width: 200px;
    height: 300px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    transform-style: preserve-3d;
    
}



.swiper-slide img {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 7%;
    left: 10%;
    border-radius: 50px;
   border: solid 1px;
   border-color: darkmagenta;
}

.swiper-slide-active {
    transform: scale(1.2);
    transition: .4s;
}

.info {
    width: auto;
    padding: 8px 0;
    background: #fff;
    position: absolute;
    left: 45%;
    top: 10%;
    text-align: justify;
    border-radius: 0 0 5px 5px;
}

.card-description {
  position: absolute;
  left: 10%;
  right: 3%;
  top: 36%;
  font-size: 12px;
  text-align: left;
   font-weight: 500;
   color: #000;
}

.card-description h4 {
  padding: 5px;
  line-height: 1.4;
  font-size: 12px;
  text-align: left;
letter-spacing: .1px;
}

.card-description .aboutme {
  line-height: 1.8;
}




.info h3 {
    font-size: 13px;
   text-align: left;
    font-weight: 500;
    color: darkmagenta;
}

.info .subtl {
  font-size: 12px;
  text-align: left;
   font-weight: 500;
   color: #000;

}

.swiper-pagination {
    bottom: 0 !important;
    top: auto;
}


/*BOTÕES REDES SOCIAIS*/

.footer {
 width: 100%;
 grid-area: "footer";
 margin: auto;
 margin-top: 350px;
 justify-content: center;
 align-items: center;
 
}

.buttons {
  width: 1200px;
  height: 170px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.title-footer {
  margin: 0 auto;
}

h2 {
  color: darkmagenta;
  font-size: 30px;
}

h4 {
  font-size: 20px;
  font-weight: 100;
  
}

h2, h4{
  position: relative;
  text-align: center;
}

.prim .seg .terc .quart {
  transform: translate(-50%, -50%);
 }

.prim .but1, .seg .but2,  .terc .but3, .quart .but4{
  list-style: none;
  margin: auto;
  align-items: center;
  cursor: pointer;
}

.prim .but1, .seg .but2,  
.terc .but3, .quart .but4, .fa{
  position: absolute;
  font-size: 35px;
  color: #262626;
  line-height: 80px;
  transition: .5s;
  margin: -13px -10px -10px -15px;
  text-decoration: none;

}

.prim .but1, .seg .but2,  .terc .but3, .quart .but4{
  position: absolute;
  display: block;
  width: 50px;
  height: 50px;
  background: #fff;
  text-align: center;
  transform: perspective(100px) rotate(-25deg) skew(25deg) translate(0,0);
  transition: .5s;
  box-shadow: -20px 20px 20px rgb(0,0,0,0.5);
  
}

  



/* PRIMEIRA CAIXA*/

.prim .but1 .seg .but2  .terc .but3 .quart .but4, .footer a::before{
  content: '';
  position: absolute;
  top: 10px; 
  left: -20px;  
  height: 100%; 
  width: 20px;
  background: #b1b1b1;
  transition: .5s;
  transform: rotate(0deg) skewY(-45deg);
}

.prim .but1 .seg .but2 .terc .but3 .quart .but4, .footer a::after{
  content: '';
  position: absolute;
  top: 50px;
  left: -10px;
  height: 20px;
  width: 100%;
  background: #b1b1b1;
  transform: rotate(0deg) skewX(-45deg);
}




.prim .but1:hover{
  transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(20px, -20px);
  box-shadow: -50px 50px 50px rgb(0,0,0,0.5);
}

.prim:hover .fa{
  color: #fff;
}

.prim:hover .but1{
  transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(20px, -20px);
  box-shadow: -50px 50px 50px rgb(0,0,0,0.5);
  background: linear-gradient(#400080, transparent), linear-gradient(200deg,#d047d1, #ff0000,#ffff00);

}

.prim:hover .but1:before{
  transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(20px, -20px);
  box-shadow: -50px 50px 50px rgb(0,0,0,0.5);
  background: linear-gradient(#400080, transparent), linear-gradient(200deg,#d047d1, #ff0000,#ffff00);

}
.prim:hover .but1:after{
  transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(20px, -20px);
  box-shadow: -50px 50px 50px rgb(0,0,0,0.5);
  background: linear-gradient(#400080, transparent), linear-gradient(200deg,#d047d1, #ff0000,#ffff00);

}



.seg .but2:hover{
  transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(20px, -20px);
  box-shadow: -50px 50px 50px rgb(0,0,0,0.5);
}

.seg:hover .fa{
  color: #fff;
}

.seg:hover .but2{
  transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(20px, -20px);
  box-shadow: -50px 50px 50px rgb(0,0,0,0.5);
  background: #25d366;

}





.terc .but3:hover{
  transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(20px, -20px);
  box-shadow: -50px 50px 50px rgb(0,0,0,0.5);
}

.terc:hover .fa{
  color: #fff;
}

.terc:hover .but3{
  transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(20px, -20px);
  box-shadow: -50px 50px 50px rgb(0,0,0,0.5);
  background:#e83322;

}




.quart .but4:hover{
  transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(20px, -20px);
  box-shadow: -50px 50px 50px rgb(0,0,0,0.5);
}

.quart:hover .fa{
  color: #fff;
}

.quart:hover .but4{
  transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(20px, -20px);
  box-shadow: -50px 50px 50px rgb(0,0,0,0.5);
  background:#0e76a8;

}


